<br>
<br>
<div class="hold-transition layout-boxed">
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Đề thi {{quizName}}</h1>
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container-fluid">
          <div class="row" *ngIf="!isSubmitted">
            <div class="col-12" *ngFor="let question of questionList; index as i">
              <div class="card" *ngIf="questionIndex===i">
                <div class="card-header">
                  <h3 class="card-title">Câu {{i + 1}}</h3>
                </div>
                <div class="card-body">
                  <span id="question" [innerHTML]="question.content"></span>
                  <div *ngIf="question.typeOfQuestion.id === 1">
                    <p>Chọn đáp án chính xác nhất</p>
                    <form role="form" [formGroup]="answerForm">
                      <div class="form-group" *ngFor="let answer of question.answers; index as j">
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" formControlName="content"
                                 [value]="answer.content" id="answer{{j}}">
                          <label for="answer{{j}}" class="custom-control-label">{{answer.content}}</label>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="question.typeOfQuestion.id === 2">
                    <p>Chọn các đáp án chính xác</p>
                    <form role="form" [formGroup]="answerForm">
                      <div class="form-group" *ngFor="let answer of question.answers; index as j">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" formControlName="content"
                                 [value]="answer.content" id="answerCheckbox{{j}}">
                          <label for="answerCheckbox{{j}}" class="custom-control-label">{{answer.content}}</label>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" (click)="previous()" *ngIf="i!==0">Previous</button>
                  <button type="submit" class="btn btn-primary float-right" (click)="next(question.id)"
                          *ngIf="questionIndex!==questionList.length-1">Next
                  </button>
                  <button type="submit" class="btn btn-primary float-right" (click)="next(question.id)"
                          *ngIf="questionIndex===questionList.length-1">Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="isSubmitted">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Kết quả</h3>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Bạn đã trả lời đúng {{numberOfCorrectQuestion}}/{{questionList.length}} câu hỏi</label>
                  </div>
                  <div class="form-group">
                    <label>Số điểm của bạn là {{point}}</label>
                  </div>
                </div>
                <div class="card-footer">
                  <a routerLink="/">
                    <button class="btn btn-primary">Trở về trang chủ</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
