<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a routerLink="/"><b>QUIZ 969</b></a>
    </div>
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Khôi phục mật khẩu</p>
        <form role="form" [formGroup]="recoverPasswordForm" (ngSubmit)="recoverPassword()">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('required') && isSubmitted">
              Mật khẩu phải được điền
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('minlength') && isSubmitted">
              Mật khẩu phải có nhiều hơn 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="recoverPasswordForm.get('password').hasError('maxlength') && isSubmitted">
              Mật khẩu phải có ít hơn 12 ký tự
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" formControlName="confirmPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
            <div class="alert alert-danger" role="alert"
                 *ngIf="isCorrectConfirmPassword(recoverPasswordForm.value.password,recoverPasswordForm.value.confirmPassword)
                 && recoverPasswordForm.get('confirmPassword').hasError('required') && isSubmitted">
              Mật khẩu nhập lại không khớp.
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
            </div>
          </div>
        </form>
        <a routerLink="/login" class="text-center">Đăng nhập</a>
      </div>
    </div>
  </div>
</div>
