<div class="container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="passwordForgot()">
    <div class="text-center">
      Quên mật khẩu
    </div>
    <div *ngIf="failMessage" class="alert alert-danger text-center">
      <p>{{failMessage}}</p>
    </div>
    <br>
    <label class="col">
      Email:
      <input type="text" formControlName="email" class="form-control">
    </label>
    <div class="col text-center">
      <button class="btn btn-info" type="submit">Gửi email</button>
    </div>
  </form>
</div>
