<div class="mt-lg-4 container">
  <br>
  <br>
  <div class="card card-primary">
    <div class="card-header">
      <h2 class="card-title">Quên mật khẩu</h2>
    </div>
    <div *ngIf="failMessage" class="alert alert-danger text-center">
      <p>{{failMessage}}</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="passwordForgot()">
      <div class="card-body">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
          <div class="alert alert-danger" role="alert"
               *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
            Email phải được điền
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="forgotPasswordForm.get('email').hasError('email') && forgotPasswordForm.get('email').touched">
            Không đúng định dạng email
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-xs btn-primary" type="submit">Gửi email</button>
        </div>
      </div>
    </form>
  </div>
</div>
