<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Quên mật khẩu</h2>
      </div>
      <div *ngIf="failMessage" class="alert alert-danger text-center">
        <p>{{failMessage}}</p>
      </div>
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="passwordForgot()">
          <div class="form-row m-b-55">
            <div class="name">Email</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="email" formControlName="email">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
              Email phải được điền
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="forgotPasswordForm.get('email').hasError('email') && forgotPasswordForm.get('email').touched">
              Không đúng định dạng email
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn--radius-2 btn--red" type="submit">Gửi email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
