<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Đổi mật khẩu</h2>
      </div>
      <div *ngIf="failMessage" class="alert alert-danger text-center">
        <p>{{failMessage}}</p>
      </div>
      <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-row m-b-55">
            <div class="name">Mật khẩu</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="password" formControlName="password">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
              Mật khẩu phải được điền
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="changePasswordForm.get('password').hasError('minlength') && changePasswordForm.get('password').touched">
              Mật khẩu phải có nhiều hơn 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="changePasswordForm.get('password').hasError('maxlength') && changePasswordForm.get('password').touched">
              Mật khẩu phải có ít hơn 12 ký tự
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Nhập lại mật khẩu</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="password" formControlName="confirmPassword">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="changePasswordForm.value.password !== changePasswordForm.value.confirmPassword">
              Mật khẩu nhập lại không khớp.
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn--radius-2 btn--red" type="submit">Đổi mật khẩu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
