<div class="mt-lg-4 container">
  <br>
  <br>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Đổi mật khẩu</h3>
    </div>
    <div *ngIf="failMessage" class="alert alert-danger text-center">
      <p>{{failMessage}}</p>
    </div>
    <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="card-body">
        <div class="form-group">
          <label for="oldPassword">Mật khẩu cũ</label>
          <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                 placeholder="Nhập mật khẩu cũ">
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">
            Mật khẩu phải được điền
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('oldPassword').hasError('minlength') && changePasswordForm.get('oldPassword').touched">
            Mật khẩu phải có nhiều hơn 6 ký tự
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('oldPassword').hasError('maxlength') && changePasswordForm.get('oldPassword').touched">
            Mật khẩu phải có ít hơn 12 ký tự
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">Mật khẩu mới</label>
          <input type="password" class="form-control" id="newPassword" formControlName="password"
                 placeholder="Nhập mật khẩu mới">
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('password').hasError('required') && changePasswordForm.get('password').touched">
            Mật khẩu phải được điền
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('password').hasError('minlength') && changePasswordForm.get('password').touched">
            Mật khẩu phải có nhiều hơn 6 ký tự
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.get('password').hasError('maxlength') && changePasswordForm.get('password').touched">
            Mật khẩu phải có ít hơn 12 ký tự
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Nhập lại mật khẩu mới</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                 placeholder="Nhập lại mật khẩu mới">
          <div class="alert alert-danger" role="alert"
               *ngIf="changePasswordForm.value.password !== changePasswordForm.value.confirmPassword">
            Mật khẩu nhập lại không khớp.
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-xs" type="submit">Đổi mật khẩu</button>
        </div>
      </div>
    </form>
  </div>
</div>
