<div class = "mt-lg-4 container">
  <br>
  <br>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Cập nhật thông tin</h3>
    </div>
    <form role="form" [formGroup]="userForm" (ngSubmit)="updateUserProfile()">
      <div class="card-body row">
        <div class="col-9">
          <div class="form-group">
            <label for="lastName">Họ</label>
            <input type="text" class="form-control" id="lastName" placeholder="Họ" formControlName="lastName"
                   [value]="userLastName">
          </div>
          <div class="form-group">
            <label for="firstName">Tên</label>
            <input type="text" class="form-control" id="firstName" placeholder="Tên" formControlName="firstName"
                   [value]="userFirstName">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Số diện thoại"
                   formControlName="phoneNumber" [value]="userPhoneNumber">
          </div>
          <div class="form-group">
            <label for="gender">Giới tính</label>
            <div class="form-check" id="gender">
              <input class="form-check-input" type="radio" formControlName="gender" id="nam" value="Nam"
                     [checked]="userGender === 'Nam'">
              <label class="form-check-label mr-lg-5" for="nam">Nam</label>
              <input class="form-check-input" type="radio" formControlName="gender" id="nu" value="Nữ"
                     [checked]="userGender === 'Nữ'">
              <label class="form-check-label" for="nu">Nữ</label>
            </div>
          </div>
          <div class="form-group">
            <label for="avatar">Chọn ảnh đại diện</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="avatar" formControlName="avatar" #fileUploader
                       (change)="showPreview($event)">
                <label class="custom-file-label" for="avatar">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3" *ngIf="userAvatarUrl===null">
          <img [src]="imgSrc" height="125" width="100" alt="Ảnh đại diện" (click)="fileUploader.click()"/>
        </div>
        <div class="col-3" *ngIf="userAvatarUrl!==null">
          <img [src]="userAvatarUrl" height="125" width="100" alt="Ảnh đại diện" (click)="fileUploader.click()"/>
        </div>
        <div class="text-center ml-lg-3">
          <button class="btn btn-primary" type="submit">Cập nhật</button>
        </div>
      </div>
    </form>
  </div>
</div>
