<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Quiz 969</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-sm-3">
        <a class="nav-link" routerLink="">
          <fa-icon [icon]="homeIcon" size="lg"></fa-icon>
          Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-sm-3">
        <a class="nav-link" routerLink="/category">
          <fa-icon [icon]="categoryIcon" size="lg"></fa-icon>
          Danh mục</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/question">
          <fa-icon [icon]="questionIcon" size="lg"></fa-icon>
          Câu hỏi</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto" *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="#" (click)="logout()"><fa-icon [icon]="logoutIcon" size="lg"></fa-icon>Đăng xuất</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="login"><fa-icon [icon]="loginIcon" size="lg"></fa-icon>Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register"><fa-icon [icon]="registerIcon" size="lg"></fa-icon>Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
