<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Quiz 969</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-sm-3">
        <a class="nav-link" routerLink="">
          <i class="fa fa-home fa-lg"></i>
          Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-sm-3" *ngIf="hasRoleAdmin">
        <a class="nav-link" routerLink="/admin/category-management">
          <i class="fa fa-list"></i>
          Danh mục</a>
      </li>
      <li class="nav-item mr-sm-3" *ngIf="hasRoleAdmin">
        <a class="nav-link" routerLink="/admin/question-management">
          <i class="fa fa-question fa-lg"></i>
          Câu hỏi</a>
      </li>
      <li class="nav-item" *ngIf="hasRoleAdmin">
        <a class="nav-link" routerLink="/admin/quiz-management">
          <fa-icon [icon]="quizIcon" size="lg"></fa-icon>
          Đề thi</a>
      </li>
      <li class="nav-item" *ngIf="!hasRoleAdmin">
        <a class="nav-link" routerLink="/user/exam">
          <fa-icon [icon]="quizIcon" size="lg"></fa-icon>
          Đề thi</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto" *ngIf="currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="#" (click)="logout()"><i class="fa fa-sign-out fa-lg"></i> Đăng xuất</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!currentUser">
        <li class="nav-item">
          <a class="nav-link" routerLink="login"><i class="fa fa-sign-in fa-lg"></i> Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register"><i class="fa fa-user-plus fa-lg"></i> Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
