<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="question">Question</a>
    <a class="nav-item nav-link" routerLink="category">Category</a>
    <a class="nav-item nav-link" *ngIf="!currentUser" routerLink="register">Register</a>
    <a class="nav-item nav-link" *ngIf="!currentUser" routerLink="login">Login</a>
    <a class="nav-item nav-link" *ngIf="currentUser" (click)="logout()">Logout</a>
  </div>
</nav>
