<br>
<router-outlet></router-outlet>
<br>
<div class="mt-lg-4 container">
  <div *ngIf="formCreateStatus">
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading">
            <h2 class="title">Tạo mới câu hỏi</h2>
          </div>
          <div *ngIf="failMessage" class="alert alert-danger">
            <p>{{failMessage}}</p>
          </div>
          <div class="card-body">
            <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()" *ngIf="formCreateStatus">
              <div class="form-row m-b-55">
                <div class="col-6 text-center">
                  <div class="name">
                    Loại câu hỏi:
                  </div>
                  <div class="value">
                    <select class="custom-select custom-select-sm" formControlName="typeOfQuestion">
                      <option *ngFor="let typeOfQuestion of typeOfQuestionList"
                              [value]="typeOfQuestion.id">{{typeOfQuestion.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-6 text-center">
                  <div class="name">
                    Danh mục:
                  </div>
                  <div class="value">
                    <select class="custom-select custom-select-sm" formControlName="category">
                      <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row m-b-55">
                <div class="name">Câu hỏi:</div>
                <div class="value">
                  <div class="input-group">
                    <ejs-richtexteditor formControlName="quiz"></ejs-richtexteditor>
                  </div>
                </div>
                <div class="alert alert-danger" role="alert"
                     *ngIf="questionForm.get('quiz').hasError('required') && questionForm.get('quiz').touched">
                  Không được bỏ trống ô câu hỏi
                </div>
              </div>
              <div class="form-row m-b-55" *ngFor="let answer of answerList">
                <div class="name">
                  <label class="radio-container m-r-55">
                    <input type="radio" formControlName="correctAnswer" [value]="answer.content">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="value row">
                  <div class="col-10">
                    <div class="input-group">
                      <span>{{answer.content}}</span>
                    </div>
                  </div>
                  <div class="col-1">
                    <button type="button">
                      <i class="fa fa-edit fa-lg"></i>
                    </button>
                  </div>
                  <div class="col-1">
                    <button type="button" (click)="deleteAnswer(answer.id)">
                      <i class="fa fa-times fa-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-row m-b-55">
                <form [formGroup]="answerForm" (ngSubmit)="addAnswer()">
                  <div class="form-row m-b-55">
                    <div class="name col-1">
                      <label class="radio-container m-r-55">
                        <input type="radio" [attr.disabled]="true">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="value col-10">
                      <div class="input-group">
                        <input class="input--style-5" placeholder="câu trả lời" type="text" formControlName="content">
                      </div>
                    </div>
                    <div class="col-1">
                      <button>
                        <i class="fa fa-plus fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </form>
                <div class="alert alert-danger" role="alert"
                     *ngIf="questionForm.get('correctAnswer').hasError('required') && questionForm.get('correctAnswer').touched">
                  Hãy chọn 1 đáp án đúng
                </div>
              </div>
              <div class="row">
                <div class="col-6 text-center">
                  <button class="btn btn--radius-2 btn--red" type="submit" (click)="updateQuestion()">
                    <i class="fa fa-save fa-lg"></i>
                  </button>
                </div>
                <div class="col-6 text-center">
                  <button class="btn btn--radius-2 btn--red" type="submit" (click)="deleteQuestion()">
                    <i class="fa fa-times fa-lg"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!formCreateStatus">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách câu hỏi</h3>
          </div>
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>Nội dung câu hỏi</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let question of questionStatusIsTrueList">
                <td>{{question.id}}</td>
                <td [innerHTML]="question.quiz"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="!formCreateStatus" (click)="onClickCreate()">
      <button class="btn btn--radius-2 btn--red" type="submit">Tạo mới câu hỏi</button>
    </div>
  </div>
</div>
