<div class="text-center text-uppercase font-weight-bold">
  <span style="font-size: 24px">Danh mục câu hỏi</span>
</div>
<router-outlet></router-outlet>
<div class="mt-lg-4">
  <a routerLink="/create-category">Tạo mới danh mục</a>
</div>
<div class="mt-lg-4">
  <table class="table table-bordered">
    <tr>
      <th>Tên danh mục</th>
      <th>Chỉnh sửa</th>
      <th>Xóa</th>
    </tr>
    <tr *ngFor="let category of categoryList">
      <td>{{category.name}}</td>
      <td><a [routerLink]="['edit-category',category.id]">Edit</a></td>
      <td><a [routerLink]="['delete-category',category.id]">Delete</a></td>
    </tr>
  </table>
</div>
