<br>
<div class="container">
  <br>
  <router-outlet></router-outlet>
  <div class="mt-lg-4">
    <ng-template #create let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Tạo đợt thi mới</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="examForm" (ngSubmit)="createExam()">
          <div class="form-group">
            <label for="name">Tên đợt thi:</label>
            <input class="form-control" type="text" formControlName="name" id="name"
                   (click)="changeShowDatePickerStatusToFalse()">
          </div>
          <div class="form-group">
            <label>Thời gian bắt đầu:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
              </div>
              <input type="text" class="form-control float-right" placeholder="mm/dd/yyyy"
                     (click)="changeShowDatePickerStartStatus()" [value]="examForm.value.startedDate">
            </div>
            <dl-date-time-picker *ngIf="isEnableShowStartedDate" startView="day" maxView="year" minView="minute"
                                 minuteStep="5" formControlName="startedDate">
            </dl-date-time-picker>
          </div>
          <div class="form-group">
            <label>Thời gian làm bài:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
              </div>
              <input type="text" class="form-control float-right" placeholder="mm/dd/yyyy"
                     [value]="examForm.value.minutes" (click)="changeShowDatePickerEndStatus()">
            </div>
          </div>
          <dl-date-time-picker *ngIf="isEnableShowEndedDate" startView="day" maxView="year" minView="minute"
                               minuteStep="5" formControlName="endedDate">
          </dl-date-time-picker>
          <br>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-light">
              <i class="fa fa-save fa-lg"></i>
              Lưu
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div class="mt-lg-4">
    <ng-template #update let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa thông tin đợt thi</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="examForm" (ngSubmit)="updateExam(currentExam.id)">
          <div class="form-group">
            <label for="nameUpdate">Tên đợt thi:</label>
            <input class="form-control" type="text" formControlName="name" [value]="name" id="nameUpdate"
                   (click)="changeShowDatePickerStatusToFalse()">
          </div>
          <div class="form-group">
            <label>Thời gian bắt đầu:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
              </div>
              <input type="text" class="form-control float-right" placeholder="mm/dd/yyyy"
                     (click)="changeShowDatePickerStartStatus()" [value]="startedDate">
            </div>
            <dl-date-time-picker *ngIf="isEnableShowStartedDate" startView="day" maxView="year" minView="minute"
                                 minuteStep="5" formControlName="startedDate">
            </dl-date-time-picker>
          </div>
          <div class="form-group">
            <label>Thời gian làm bài:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
              </div>
              <input type="text" class="form-control float-right" placeholder="mm/dd/yyyy"
                     [value]="minutes" (click)="changeShowDatePickerEndStatus()">
            </div>
          </div>
          <dl-date-time-picker *ngIf="isEnableShowEndedDate" startView="day" maxView="year" minView="minute"
                               minuteStep="5" formControlName="endedDate">
          </dl-date-time-picker>
          <br>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary waves-effect waves-light">
              <i class="fa fa-save fa-lg"></i>
              Lưu
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div class="mt-lg-4">
    <ng-template #delete let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Xóa thông tin đề thi</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="examForm" (ngSubmit)="deleteExam(currentExam.id)">
          <div class="form-group">
            <label>Tên đợt thi: </label>
            <span>{{currentExam.name}}</span>
          </div>
          <br>
          <div class="modal-footer">
            <button type="submit" class="tabledit-edit-button btn btn-danger waves-effect waves-light">
              <i class="fa fa-trash fa-lg"></i>
              Xóa
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
  <div class="mt-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h3>Danh sách đợt thi</h3>
        </div>
        <br>
        <div class="card-tools">
          <button type="button" class="btn btn-xs btn-primary float-lg-right" (click)="openVerticallyCentered(create)">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table matSort (matSortChange)="sortExam($event)" class="table table-head-fixed table-hover">
          <thead>
          <tr>
            <th mat-sort-header="id" style="width: 10px">#</th>
            <th mat-sort-header="name">Tên đề thi</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let exam of examList">
            <td>{{exam.id}}</td>
            <td>{{exam.name}}</td>
            <td>
              <div class="float-lg-right" style="float: none;">
                <button type="button" class="btn btn-xs btn-primary" style="float: none;margin: 5px;"
                        (click)="updateExamForm(exam.id,update)">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-xs btn-danger" style="float: none;margin: 5px;"
                        (click)="showDeleteExamForm(exam.id,delete)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
