<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a routerLink="/"><b>QUIZ 969</b></a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Đăng nhập</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div *ngIf="error" class="alert alert-danger text-center">
            <p>{{error}}</p>
          </div>
          <br>
          <div class="input-group mb-3">
            <input class="form-control" type="text" formControlName="username" placeholder="tên đăng nhập">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="mật khẩu">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>
        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-facebook mr-2"></i> Đăng nhập với Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fa fa-google-plus mr-2"></i> Đăng nhập với Google+
          </a>
        </div>
        <p class="mb-1">
          <a routerLink="/forgot-password">Quên mật khẩu</a>
        </p>
        <p class="mb-0">
          <a routerLink="/register" class="text-center">Tạo tài khoản mới</a>
        </p>
      </div>
    </div>
  </div>
</div>
